body {
    background-color: blue;
    display: flex;
    
    background-image: url(./img/fundo.jpeg);
    
    margin: 0px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
#medias1{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 10px;
    width: 15%;
    border-radius: 5px;
    padding: 20px;
    background-color:gray;
justify-content: space-around;

}
#fatorial{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: gray;
justify-content: space-around;
width: 80%;
height: 70%;
    
    
}
#temperaturas{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: gray;
    justify-content: space-around;
    width: 80%;
height: 70%;

}

#calculadora{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: gray;
    justify-content: space-around;
    
    width: 80%;
    height: 50%;
}

input[type=button]:hover{
    filter: brightness(80%);
}
#quarta input:nth-child(1) {
    background-color: tomato;
}
#quarta input:nth-child(3) {
    background-color: blueviolet;
}
#calculadora input:nth-child(4){
     background: #7a7a7a;
}

#triangulo{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: gray;
    justify-content: space-around;
    width: 80%;
height: 70%;

}

#notas{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
    background-color: gray;
justify-content: space-around;
width: 15%;
height: 40%;

}
#moeda{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: gray;
justify-content: space-around;


}
#cpf{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: gray;
justify-content: space-around;


}